.board_view{
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 0.8rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child{
    padding-left: 0;
}

.board_view .info dl::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    display: block;
    width: 1px;
    height: 13px;
}

.board_view.info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 0.8rem;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 0.8rem;
    height: 300px;
    display: block;
    width: 100%;
}

.comment_container {
    margin-top: 20px;
}

/* .comment_wrapper {
    margin-top: 20px;
} */

.comment_wrapper {
    padding: 15px;
    border-bottom: 1px solid #000;
}
.comment_wrapper .comment_content,
.comment_wrapper .comment_btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
}

.comment_wrapper .comment_btn {
    width: 8%;
}

.comment_wrapper .comment_content{
    width: 90%;
    margin-right: 2%;
}

.comment_wrapper .comment_content textarea {
    width: 100%;
    padding: 10px;
}

.submit_img {
    width: 30px;
}



@media (max-width: 1000px) {
    .board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 0.8rem;
    }

    /* .comment_wrapper .comment_content,
    .comment_wrapper .comment_btn {
    font-size: 0.5rem;
    } */
    .submit_img {
        width: 25px;
    }

    .view_btn_wrap .bt_wrap Button{
        min-width: 70px;
    }

    /* .bt_wrap Button {
        display: inline-block;
        min-width: 80px;
        margin-left: 10px;
        padding: 10px;
        font-size: 0.8rem;
    } */

}